html {
    height: 100%;
    width: 100%;
  }

body{
    background-color: #C4F6F6;
}

ul {
    list-style-type: none;
  }

  nav {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    height: 80px; 
    padding: 0 30px
}

.smalllogo img {
    height: 55px; 
}

.links {
    display: flex; 
    list-style: none; 
    margin: 0;
    padding: 0;
}

.links li {
    margin-right: 10px;

}


.links li a {
    display: inline-block;
    font-family: 'Avenir', sans-serif;
    padding: 10px 20px; /* Set the padding of each link */
    border-radius: 20px; /* Add rounded corners to each link */
    background-color: #98C365; /* Set the background color of the links */
    color: #FAFAFA; /* Set the color of the links */
    text-decoration: none; /* Remove the underline from the links */
    transition: background-color 0.3s ease; /* Add a transition effect to the background color */
}

.links li a:hover {
    background-color: #74AC32; /* Change the background color of the link on hover */
  }

/*
.mypro{
    margin-bottom: 5px;
    margin-left: 10px;

    border-radius: 4px;
    max-width: 400px;
    height: auto; 
}
.probox{
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 250px;
    padding-right: 50px;

    width: 700px;

    background-color: #C1EB99;
}

.badgebox{
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 250px;
    padding-right: 5px;

    width: 523px;

    margin-left: 800px;
    margin-top: -270px;

    background-color: #C1EB99;
}
*/

.accdet{
    margin-top: 5px;
    margin-left: 30px;

    border-radius: 4px;
    max-width: 800px;
    height: auto; 
}


.badges{
    margin-top: 5px;
    margin-left: 15px;

    border-radius: 4px;
    max-width: 500px;
    height: 350px;
}

.goals{
    margin-top: 20px;
    margin-left: 30px;

    border-radius: 4px;
    max-width: 3000px;
    height: auto;
}
